<?php
/**
 * MerchantsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * MerchantsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MerchantsApi
{

    /**
     * API Client
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://boom-1-api.dev.gizmocreative.com/api/v2');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     * @return MerchantsApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * createMember
     *
     * Creates a new Merchant
     *
     * @param \Swagger\Client\Model\MemberCreateRequest $body The *Merchant* to create (required)
     * @return \Swagger\Client\Model\MemberCreateResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createMember($body)
    {
        list($response, $statusCode, $httpHeader) = $this->createMemberWithHttpInfo ($body);
        return $response; 
    }


    /**
     * createMemberWithHttpInfo
     *
     * Creates a new Merchant
     *
     * @param \Swagger\Client\Model\MemberCreateRequest $body The *Merchant* to create (required)
     * @return Array of \Swagger\Client\Model\MemberCreateResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createMemberWithHttpInfo($body)
    {
        
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createMember');
        }
  
        // parse inputs
        $resourcePath = "/members/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Date');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Date'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Signature');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Signature'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Token');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Token'] = $apiKey;
        }
        
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'POST',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\MemberCreateResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\MemberCreateResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\MemberCreateResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            default:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getMember
     *
     * Returns a Merchant
     *
     * @param string $member_id The primary key of the *Merchant* (required)
     * @return \Swagger\Client\Model\MemberResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMember($member_id)
    {
        list($response, $statusCode, $httpHeader) = $this->getMemberWithHttpInfo ($member_id);
        return $response; 
    }


    /**
     * getMemberWithHttpInfo
     *
     * Returns a Merchant
     *
     * @param string $member_id The primary key of the *Merchant* (required)
     * @return Array of \Swagger\Client\Model\MemberResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberWithHttpInfo($member_id)
    {
        
        // verify the required parameter 'member_id' is set
        if ($member_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $member_id when calling getMember');
        }
  
        // parse inputs
        $resourcePath = "/members/get/{member_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        // path params
        
        if ($member_id !== null) {
            $resourcePath = str_replace(
                "{" . "member_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($member_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Date');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Date'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Signature');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Signature'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Token');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Token'] = $apiKey;
        }
        
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\MemberResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\MemberResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\MemberResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            default:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getMemberLocationUsers
     *
     * Returns a collection of MerchantUsers
     *
     * @param string $member_id The primary key of the *Merchant* (required)
     * @return \Swagger\Client\Model\MemberUserResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberLocationUsers($member_id)
    {
        list($response, $statusCode, $httpHeader) = $this->getMemberLocationUsersWithHttpInfo ($member_id);
        return $response; 
    }


    /**
     * getMemberLocationUsersWithHttpInfo
     *
     * Returns a collection of MerchantUsers
     *
     * @param string $member_id The primary key of the *Merchant* (required)
     * @return Array of \Swagger\Client\Model\MemberUserResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberLocationUsersWithHttpInfo($member_id)
    {
        
        // verify the required parameter 'member_id' is set
        if ($member_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $member_id when calling getMemberLocationUsers');
        }
  
        // parse inputs
        $resourcePath = "/members/location/users/{member_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        // path params
        
        if ($member_id !== null) {
            $resourcePath = str_replace(
                "{" . "member_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($member_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Date');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Date'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Signature');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Signature'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Token');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Token'] = $apiKey;
        }
        
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\MemberUserResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\MemberUserResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\MemberUserResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            default:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getMemberLocations
     *
     * Returns a collection of MerchantLocations
     *
     * @param string $member_id The primary key of the *Merchant* (required)
     * @param string $members_locations_id An optional members_locations_id to filter the results with (optional)
     * @return \Swagger\Client\Model\MemberLocationResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberLocations($member_id, $members_locations_id = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getMemberLocationsWithHttpInfo ($member_id, $members_locations_id);
        return $response; 
    }


    /**
     * getMemberLocationsWithHttpInfo
     *
     * Returns a collection of MerchantLocations
     *
     * @param string $member_id The primary key of the *Merchant* (required)
     * @param string $members_locations_id An optional members_locations_id to filter the results with (optional)
     * @return Array of \Swagger\Client\Model\MemberLocationResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberLocationsWithHttpInfo($member_id, $members_locations_id = null)
    {
        
        // verify the required parameter 'member_id' is set
        if ($member_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $member_id when calling getMemberLocations');
        }
  
        // parse inputs
        $resourcePath = "/members/location/get/{member_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        // query params
        
        if ($members_locations_id !== null) {
            $queryParams['members_locations_id'] = $this->apiClient->getSerializer()->toQueryValue($members_locations_id);
        }
        
        // path params
        
        if ($member_id !== null) {
            $resourcePath = str_replace(
                "{" . "member_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($member_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Date');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Date'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Signature');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Signature'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Token');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Token'] = $apiKey;
        }
        
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\MemberLocationResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\MemberLocationResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\MemberLocationResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            default:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getMemberMetaIndustries
     *
     * Returns collection of industries
     *
     * @return \Swagger\Client\Model\EnumerationItemResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberMetaIndustries()
    {
        list($response, $statusCode, $httpHeader) = $this->getMemberMetaIndustriesWithHttpInfo ();
        return $response; 
    }


    /**
     * getMemberMetaIndustriesWithHttpInfo
     *
     * Returns collection of industries
     *
     * @return Array of \Swagger\Client\Model\EnumerationItemResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberMetaIndustriesWithHttpInfo()
    {
        
  
        // parse inputs
        $resourcePath = "/members/meta/industries";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Date');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Date'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Signature');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Signature'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Token');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Token'] = $apiKey;
        }
        
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\EnumerationItemResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\EnumerationItemResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\EnumerationItemResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            default:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getMemberMetaStatuses
     *
     * Returns collection of statuses
     *
     * @return \Swagger\Client\Model\EnumerationItemResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberMetaStatuses()
    {
        list($response, $statusCode, $httpHeader) = $this->getMemberMetaStatusesWithHttpInfo ();
        return $response; 
    }


    /**
     * getMemberMetaStatusesWithHttpInfo
     *
     * Returns collection of statuses
     *
     * @return Array of \Swagger\Client\Model\EnumerationItemResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberMetaStatusesWithHttpInfo()
    {
        
  
        // parse inputs
        $resourcePath = "/members/meta/statuses";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        
        
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Date');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Date'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Signature');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Signature'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Token');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Token'] = $apiKey;
        }
        
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\EnumerationItemResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\EnumerationItemResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\EnumerationItemResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            default:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
    /**
     * getMemberUsers
     *
     * Returnsa a collection of MerchantUsers
     *
     * @param string $member_id The id of the *Merchant* (required)
     * @param string $user_id Optional user_id to filter the results with (optional)
     * @return \Swagger\Client\Model\MemberUserResponse
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberUsers($member_id, $user_id = null)
    {
        list($response, $statusCode, $httpHeader) = $this->getMemberUsersWithHttpInfo ($member_id, $user_id);
        return $response; 
    }


    /**
     * getMemberUsersWithHttpInfo
     *
     * Returnsa a collection of MerchantUsers
     *
     * @param string $member_id The id of the *Merchant* (required)
     * @param string $user_id Optional user_id to filter the results with (optional)
     * @return Array of \Swagger\Client\Model\MemberUserResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getMemberUsersWithHttpInfo($member_id, $user_id = null)
    {
        
        // verify the required parameter 'member_id' is set
        if ($member_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $member_id when calling getMemberUsers');
        }
  
        // parse inputs
        $resourcePath = "/members/user/get/{member_id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        // query params
        
        if ($user_id !== null) {
            $queryParams['user_id'] = $this->apiClient->getSerializer()->toQueryValue($user_id);
        }
        
        // path params
        
        if ($member_id !== null) {
            $resourcePath = str_replace(
                "{" . "member_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($member_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Date');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Date'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Signature');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Signature'] = $apiKey;
        }
        
        
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Boomtown-Token');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Boomtown-Token'] = $apiKey;
        }
        
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Swagger\Client\Model\MemberUserResponse'
            );
            
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array(\Swagger\Client\ObjectSerializer::deserialize($response, '\Swagger\Client\Model\MemberUserResponse', $httpHeader), $statusCode, $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\MemberUserResponse', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            default:
                $data = \Swagger\Client\ObjectSerializer::deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
    
}
